@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.styleVersion {
  --side-version: 2;
  display: none;
}

.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  position: fixed;
  height: 60px !important;
  overflow: hidden;
  z-index: 10;
  background: linear-gradient(90deg, #1897FF 100%, #07E316 100%);
}

#footer-row {
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 1500;
  margin-left: 0px;
}

.main {
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
  transition: 250ms all ease-in-out;
}

.mainInner {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}

.mainInner div {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}

#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  margin-top: 60px;
  transform: translateX(-250px);
  transition: all 250ms ease-in-out;
  background: linear-gradient(180deg, #1897FF 10%, #07E316 100%);
  z-index: 1;
}

.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li.no-linky, .sidebarMenuInner li.no-linky a {
  cursor: default;
}

.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

input[type="checkbox"]:checked~#sidebarMenu {
  transform: translateX(0);
}

@media only screen and (min-width: 1200px) {
  input[type="checkbox"]:not(checked)~#sidebarMenu {
    transform: translateX(0);
  }

  .main {
    margin-left: 250px;
    transition: 250ms all ease-in-out;
  }

  .sidebarIconToggle.menu {
    display: none;
  }
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  height: 22px;
  width: 22px;
}

.sidebarIconToggle.menu {
  left: 15px;
}

.sidebarIconToggle.back-button {
  right: 15px;
  top: 16px;
  color: #FFFFFF;
  height: 30px;
  width: 30px;
  /* transition:  color 1s ease */
}

.sidebarIconToggle.back-button[active="true"] {
  animation-name: pulsing-color;
  animation-duration: 1s;
  animation-iteration-count: 2;
}

.sidebarIconToggle.show-versions {
  right: 0px;
  top: 0px;
  padding: 10px;
  color: #FFFFFF;
  height: auto;
  width: 0px;
  background-color: #07E316;
  z-index: 110;
  display: none;
  /* transition:  color 1s ease */
}

@keyframes pulsing-color {
  0% {}

  50% {
    color: #07E316;
    /* width: 50px; */
    stroke-width: 3px;
  }

  100 {}
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

.input-group div {
  color: #1897FF;
}

ul> :last-child {
  position: absolute;
  bottom: 60px;
}
