:root {
  --yellow-color: yellow;
  --yellow-guess-color: #f9df6d;
  --green-color: green;
  --green-guess-color: #a0c35a;
  --blue-color: blue;
  --blue-guess-color: #b0c4ef;
  --purple-color: purple;
  --purple-guess-color: #ba81c5;
  --white-color: white;
  --white-guess-color: white;
  --ccc-color: #ccc;
  --blue-hover-color: #006FDC;
  --black-color: black;
  --box-background-color: #e3e3e3;
}

#loading-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loading-overlay img {
  width: 80%;
  max-width: 500px;
  height: auto;
}


#footer-row>div {
  min-width: 600px;
  overflow: hidden;
}

/* Minimum aspect ratio */
@media (max-aspect-ratio: 2/1) {
  /* body {
    background: #9af !important;
  } */

  .box {
    padding-top: 20% !important;
    padding-bottom: 20% !important;
  }
}

/* Maximum aspect ratio */
@media (max-aspect-ratio: 2/3) {

  /* body {
    background: #9ff !important; 
  } */
  .box {
    padding-top: 30% !important;
    padding-bottom: 30% !important;
  }
}

/* Exact aspect ratio, put it at the bottom to avoid override*/
@media (max-aspect-ratio: 2/4) {

  /* body {
    background: #f9a !important;
  } */
  .box {
    padding-top: 50% !important;
    padding-bottom: 50% !important;
  }
}

#style-version-span:after {
  content: '1.3';
}

.logDivs {
  font-family: monospace;
  white-space: pre;
  background-color: var(--ccc-color);
  color: var(--black-color);
  overflow-y: scroll;
  max-height: 200px;
  text-align: left !important;
}

#boxes-column {
  font-size: xx-small;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.game-btn {
  width: 100%;
  margin-bottom: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Ensure the grid always has 4 columns, even on mobile */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

@media (max-width: 768px) {

  /* Reduce gap between boxes and make them scale on smaller screens */
  .grid {
    gap: 5px;
  }

  /* Your fix for mobile layout: padding 50% top and bottom to maintain centering */
  .box {
    width: 100%;
    height: auto;
    position: relative;
  }
}

.box {
  background-color: var(--box-background-color);
  border: 1px solid --ccc-color;
  cursor: grab;
  user-select: none;
  transition: box-shadow 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40%;
  overflow: hidden;
  word-break: break-word;
  text-align: center;
  /* Makes the box square */
  padding-bottom: 40%;
  /* Keeps text centered */
}

.box div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box.dragging {
  opacity: 0.5;
  box-shadow: 0 0 15px 5px var(--box-shadow-color, rgba(0, 0, 0, 0.5));
}

.box.overlapping {
  box-shadow: 0 0 15px 5px var(--box-shadow-color, rgba(0, 0, 255, 0.5));
}

.data {
  padding-left: 20px;
}

.category {
  margin-bottom: 15px;
}

.color-select option {
  padding: 10px;
  border-radius: 5px;
}

/* Color dropdown options */
.color-select option[value="yellow"] {
  background-color: var(--yellow-color);
  color: var(--yellow-color);
}

.color-select option[value="green"] {
  background-color: var(--green-color);
  color: var(--green-color);
}

.color-select option[value="blue"] {
  background-color: var(--blue-color);
  color: var(--blue-color);
}

.color-select option[value="purple"] {
  background-color: var(--purple-color);
  color: var(--purple-color);
}

@media (max-width: 768px) {
  .data {
    margin-top: 20px;
  }
}

/* Default white color for all boxes */
.box.white-guess {
  background-color: var(--white-guess-color);
  /* 50% opacity */
}

.box.white-confirmed {
  background-color: var(--white-color);
  /* 100% opacity */
}

/* Color classes for guesses (50% opacity) */
.box.yellow-guess {
  background-color: var(--yellow-guess-color);
}

.box.green-guess {
  background-color: var(--green-guess-color);
}

.box.blue-guess {
  background-color: var(--blue-guess-color);
}

.box.purple-guess {
  background-color: var(--purple-guess-color);
}

/* Color classes for confirmed (100% opacity) */
.box.yellow-confirmed {
  background-color: var(--yellow-guess-color);
  background: linear-gradient(225deg, var(--yellow-guess-color), #f9d84a, var(--yellow-guess-color))
}

.box.green-confirmed {
  background-color: var(--green-guess-color);
  background: linear-gradient(225deg, var(--green-guess-color), #76c959, var(--green-guess-color))
}

.box.blue-confirmed {
  background-color: var(--blue-guess-color);
  background: linear-gradient(225deg, var(--blue-guess-color), #b0e2ff, var(--blue-guess-color))
}

.box.purple-confirmed {
  background-color: var(--purple-guess-color);
  background: linear-gradient(225deg, var(--purple-guess-color), #e498ff, var(--purple-guess-color))
}

[class$="-confirmed"] {
  border-width: 3px !important;
  font-weight: bold;
  font-style: italic;
}

button {
  font-size: 1rem;
  padding: 15px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 10px;
  /* Add some space between buttons */
}

button:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background-color: #1897FF;
  color: #fff;
}

.btn-primary:hover {
  background-color: #006FDC;
}

.btn-secondary {
  background-color: #FFB800;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #FF9500;
}

.btn-danger {
  background-color: #F44336;
  color: #fff;
}

.btn-danger:hover {
  background-color: #D32F2F;
}

/* Footer styling */
#footer-row {
  margin-top: 50px;
  background-color: #333;
  color: white;
  padding: 5px 0;
  text-align: center;
  font-size: 14px;
}

.footer-row .social a {
  margin: 0 10px;
  color: #fff;
  font-size: 18px;
}

.footer-row .social a:hover {
  color: #FFB800;
}

.lock.disabled {
  color: gray;
  border-color: gray;
}

.locked {
  color: black !important;
  border-color: black !important;
}

.unlocked {
  background-color: white !important;
}

.lock-yellow,
.lock-yellow:hover {
  color: var(--yellow-guess-color);
  background-color: var(--yellow-guess-color);
  border-color: var(--yellow-guess-color);
}

.lock-green,
.lock-green:hover {
  color: var(--green-guess-color);
  background-color: var(--green-guess-color);
  border-color: var(--green-guess-color);
}

.lock-blue,
.lock-blue:hover {
  color: var(--blue-hover-color);
  background-color: var(--blue-hover-color);
  border-color: var(--blue-hover-color);
}

.lock-purple,
.lock-purple:hover {
  color: var(--purple-guess-color);
  background-color: var(--purple-guess-color);
  border-color: var(--purple-guess-color);
}